body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 10%;
    font-size: 30px;
    margin-top: 50px;
}
.heading:hover{
    width: 20%
}
.link{
    background-color: black;
    border-radius: 10px;
    width: 150px;
    float: right;
    margin-top: 0px;
    font-size: 30px;
}
canvas{
    border-radius: 10px;
    box-shadow: 7px 7px 7px grey;
}
.header{
    color: black;
    font-size: 35px;
    box-shadow: 5px 5px 5px rgb(248, 106, 106);
}
.header:hover{
    width: 220px;
}